.container {
  position: relative;
  background-color: #000;
  height: 100vh;
  background: url(/images/career_con1.jpg) no-repeat center/cover;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/career_con1.jpg) no-repeat center/cover;
  transition: background 0.5s;
}
.container:global(.active1)::before {
  background-image: url(/images/career_con1.jpg);
}
.container:global(.active2)::before {
  background-image: url(/images/career_con2.jpg);
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 40px;
}
@media (max-width: 1023px) {
  .inner {
    padding: 50px 20px;
  }
}

.careerList li {
  display: flex;
  align-items: center;
  padding: 60px 0;
  border-bottom: 1px solid #fff;
}
.careerList li:nth-child(1) {
  padding-top: 20px;
}
.careerList li strong {
  display: block;
  width: 50%;
  font-size: clamp(20px, 4vw, 70px);
  color: #fff;
}
.careerList li .careerCon {
  width: 50%;
  padding: 20px 0 0 50px;
}
.careerList li .careerCon dl {
  display: flex;
  justify-content: space-between;
  font-size: clamp(14px, 1.5vw, 30px);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateX(40px);
  transition: 0.3s;
}
.careerList li .careerCon dl + dl {
  margin-top: 30px;
}
.careerList li .careerCon dl dt {
  width: 130px;
  font-weight: 600;
}
.careerList li:global(.active) .careerCon dl {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 0.5s;
}
.careerList li:global(.active) .careerCon dl:nth-child(2) {
  transition-delay: 0.1s;
}
.careerList li:global(.active) .careerCon dl:nth-child(3) {
  transition-delay: 0.2s;
}
@media (max-width: 1023px) {
  .careerList li {
    display: block;
  }
  .careerList li strong {
    width: 100%;
  }
  .careerList li .careerCon {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .careerList li .careerCon dl {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .careerList li .careerCon dl + dl {
    margin-top: 10px;
  }
  .careerList li .careerCon dl dt {
    width: 80px;
  }
}