.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/images/home_bg.jpg) no-repeat top center/cover;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transform: scaleY(clamp(0, var(--progress, 0) * 10, 1)) scaleX(1);
  transform-origin: bottom left;
  z-index: 2;
  will-change: transform;
  transition: transform 0.9s;
}
.container .inner {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  mix-blend-mode: difference;
  z-index: 3;
}
.container .stickyCon {
  position: sticky;
  top: 0;
  left: 0;
  height: 60vh;
}
@media (max-width: 1023px) {
  .container .stickyCon {
    height: 40vh;
  }
}
.container .topTit {
  font-family: "Roboto Condensed";
  font-size: clamp(50px, 15.5vw, 297px);
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
  color: #fff;
  overflow: hidden;
  padding-top: 20px;
}
.container .topTit span {
  display: inline-block;
  transform: translateY(1em);
  transition: transform 0.9s ease-in-out;
  will-change: transform;
}
.container .topTit span:nth-child(2) {
  transition-delay: 0.03s;
}
.container .topTit span:nth-child(3) {
  transition-delay: 0.06s;
}
.container .topTit span:nth-child(4) {
  transition-delay: 0.09s;
}
.container .topTit span:nth-child(5) {
  transition-delay: 0.12s;
}
.container .topTit span:nth-child(6) {
  transition-delay: 0.15s;
}
.container .topTit span:nth-child(7) {
  transition-delay: 0.18s;
}
.container .topTit span:nth-child(8) {
  transition-delay: 0.21s;
}
.container .topTit span:nth-child(9) {
  transition-delay: 0.24s;
}
.container .topTit span:nth-child(10) {
  transition-delay: 0.27s;
}
.container .topTit span:nth-child(11) {
  transition-delay: 0.3s;
}
.container .topTit span:nth-child(12) {
  transition-delay: 0.33s;
}
.container .topTit span:nth-child(13) {
  transition-delay: 0.36s;
}
.container .conWrap {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 80px;
}
.container .conWrap .career {
  font-size: clamp(12px, 1vw, 18px);
  color: #fff;
  opacity: 0;
  transition: opacity 0.8s ease 1.2s;
}
.container .conWrap .career strong {
  font-weight: 500;
}
.container .conWrap .career span {
  margin-left: 15px;
}
.container .conWrap .link {
  display: flex;
  opacity: 0;
  transition: opacity 0.8s ease 1.2s;
}
.container .conWrap .link span {
  height: 1em;
  font-size: clamp(12px, 1vw, 18px);
  color: #fff;
  overflow: hidden;
}
.container .conWrap .link span + span {
  margin-left: 15px;
}
.container .conWrap .link span a {
  display: block;
}
.container .conWrap .link span a:hover {
  transform: translateY(-17px);
  transition: 0.6s;
}
@media (max-width: 1023px) {
  .container .conWrap {
    display: block;
    padding: 0 20px;
  }
  .container .conWrap .link {
    margin-top: 20px;
  }
}
.container .scroll {
  position: absolute;
  top: 95vh;
  left: 50%;
  transform: translateX(-50%);
}
.container .scroll span {
  display: inline-block;
  font-size: clamp(12px, 1vw, 18px);
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s ease 1.5s;
}
.container .scroll span:nth-child(1) {
  transition-delay: 1.55s;
}
.container .scroll span:nth-child(2) {
  transition-delay: 1.6s;
}
.container .scroll span:nth-child(3) {
  transition-delay: 1.65s;
}
.container .scroll span:nth-child(4) {
  transition-delay: 1.7s;
}
.container .scroll span:nth-child(5) {
  transition-delay: 1.75s;
}
.container .scroll span:nth-child(6) {
  transition-delay: 1.8s;
}
.container .scroll span:nth-child(7) {
  transition-delay: 1.85s;
}
.container .scroll span:nth-child(8) {
  transition-delay: 1.9s;
}
.container .scroll span:nth-child(9) {
  transition-delay: 1.95s;
}
.container .scroll span:nth-child(10) {
  transition-delay: 2s;
}
.container.active .topTit span {
  transform: translateY(0);
}
.container.active .conWrap .career, .container.active .conWrap .link {
  opacity: 1;
}
.container.active .scroll span {
  opacity: 1;
  transform: translateY(0);
}