.container {
    position: relative;
    background-color: #000;
    height: 100vh;
    background: url(src/assets/images/career_con1.jpg) no-repeat center / cover; 
    transition: background 0.5s;
    z-index: 1;

    &:global(.active1) {
        background-image: url(src/assets/images/career_con1.jpg);
    }   
    &:global(.active2) {
        background-image: url(src/assets/images/career_con2.jpg);
    }
}
.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 40px;
}
.careerList {

    li {
        display: flex;
        align-items: center;
        padding: 60px 0;
        border-bottom: 1px solid #fff;

        &:nth-child(1) {
            padding-top: 20px;
        }
        
        strong {
            display: block;
            width: 50%;
            font-size: 70px;
            color: #fff;
        }
        .careerCon {
            width: 50%;
            padding: 20px 0 0 50px;
            
            dl {
                display: flex;
                justify-content: space-between;
                font-size: 30px;
                color: #fff;
                opacity: 0;
                visibility: hidden;
                transform: translateX(40px);
                transition: 0.3s;

                + dl {
                    margin-top: 30px;
                }

                dt {
                    width: 130px;
                    font-weight: 600;
                }
            }
        }
        &:global(.active) .careerCon dl {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            transition: 0.5s;

            &:nth-child(2) {
                transition-delay: 0.1s;
            }
            &:nth-child(3) {
                transition-delay: 0.2s;
            }
        }
    }
}